  * {
    margin: 0;
    padding: 0;
  }

  /**************************************/
  /**************************************/
  /****************NAV******************/
  /**************************************/
  /**************************************/
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 992px) {
    /* space out nav dropdown properly on bigger screens until navbar minimizes */
    #basic-nav-dropdown {
      padding-left: 1.2rem;
      padding-right: 2.2rem;
    }
  }

  #basic-nav-dropdown {
    /* to negate above code and match background color */
    background-color: rgb(248, 249, 250);
  }

  .dropdown-item:hover, .navbar-nav .nav-link:hover, #basic-nav-dropdown:hover, .dropdown-item:hover {
    background-color: #1C2758;
    color: white !important;
  }
  .dropdown-item:hover {
    background-color: #1C2758 !important;
  }

  .nav-item:last-of-type {
    /* background-color: #08AA66; */
    background-color: #198754;
  }
  .signInNav:hover{
    /* background-color: #00804A !important; */
    background-color: #157347 !important;
  }
  


  /**************************************/
  /**************************************/
  /****************HOME******************/
  /**************************************/
  /**************************************/



  #home {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    background-image: radial-gradient(circle at center center, rgba(248,249,250,1), rgba(255, 255, 255, 1)), repeating-radial-gradient(circle at center center, rgba(248,249,250,1), rgba(248,249,250,1), 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
    /* background-color: rgba(67, 103, 140, 1);
opacity: 1;
background-image: radial-gradient(circle at center center, rgba(248,249,250,1), rgba(67, 103, 140, 1)), repeating-radial-gradient(circle at center center, rgba(248,249,250,1), rgba(248,249,250,1), 40px, transparent 80px, transparent 40px);
background-blend-mode: multiply; */
}

  .homeSlim {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 5rem;
    width: 62.5%;
  }

  /* Home Intro */
  .homeIntro {
    background-color: #1C2758;
    color: white;
    display: flex;
    align-items: center;
    gap: 10rem;
    height: 50vh;
  }
  /* Intro Left */
  .homeIntro h2 {
    font-size: 2.2rem;
  }
  .homeIntro p, .home2Info p {
    font-size: 1.1rem;
    margin: .5rem 0rem 1.2rem 0rem;
  }
  .homeIntro button {
    width: 50%;
  }
  .homeIntroL {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
  }
  /* Intro Right */
  .lifeBlocks {
    border-bottom-left-radius: 100px;
    height: 100%;
  }
  .homeIntroR {
    height: 100%;
  }

  /* Home 2 Section */
  .home2 {
    /* background-color: #F8F9FA; */
    background-color: #dddddd;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    /* background-color: #6C757D; */
    /* color: white; */
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 65%;
  }

  .home2Info {
    text-align: center;
    width: 60%;
  }
  .home2Info h2 {
    font-size: 1.75rem;
  }

  /* Home Cards Section */
  .homeCards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

  .cardImg {
    height: 45px;
    width: 45px;
  }
  .card:hover {
    top: -10px;
  }


    /* Home Intro */
    .homeOutro {
      background-color: #269db2;
      color: white;

      /* gap: 10rem; */
      height: 50vh;
      /* margin-bottom: 5rem; */
      /* width: 100vw; */
      width: 100%;
    }
    .homeOutroContent{
      gap: 10rem;
      height: 100%;
      width: 62.5%;
    }
    /* Outro Right */
    .homeOutroContent h2 {
      font-size: 2.2rem;
    }
    .homeOutroContent p{
      font-size: 1.1rem;
      margin: .5rem 0rem 0rem 0rem;
    }
    .homeOutroR {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 10rem;
    }
    /* Outro Left */
    .relaxImg, .homeOutroL {
      height: 100%;
      border-bottom-right-radius: 100px;
    }


  /**************************************/
  /**************************************/
  /*********FINANCE MANAGEMENT***********/
  /**************************************/
  /**************************************/  
    #financeManagement{
      margin: 3.5rem auto;
      width: 65%;
    }

    .tableEdit, .tableDelete{
      text-align: center;
    }
    .tableEdit:hover, .tableDelete:hover {
      background-color: #157347;
      color: white;
      cursor: pointer;
    }
    .tableDelete:hover {
      background-color: #D60027;
    }


  /**************************************/
  /**************************************/
  /***************CONTACT****************/
  /**************************************/
  /**************************************/
  .pageIntro {
    color: white;
    /* font-size: 15rem; */
    /* gap: 10rem; */
    height: 50vh;
    width: 100%;
  }

  .pageIntro h2 {
    font-size: 3rem;
  }

  #contact {
    flex-direction: column;
    /* gap: 2rem; */
  }
  .contactIntro {
    background: linear-gradient(to left, #1C2758, transparent 90%), url('./images/contact.jpg');
    background-size: cover;
  }

  .contactContent {
    flex-direction: row;
    gap: 3rem;
    margin: 5rem auto;
    width: 62.5%;
  }

  .contactInfo {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
    width: 100%;
  }

  .contactForm {
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-right: 5rem;
    padding: 2rem;
    width: 100%;
  }


  /**************************************/
  /**************************************/
  /****************ABOUT*****************/
  /**************************************/
  /**************************************/
    #about {
      flex-direction: column;
      /* gap: 2rem; */
    }
   .aboutIntro {
    background: linear-gradient(to right, #1C2758, transparent 90%), url('./images/about.jpg');
    background-size: cover;
    }
   .aboutInfo1 {
    flex-direction: row;
    text-align: center;
    width: 62.5%;
   }
   .aboutImg {
    border: 15px solid #dddddd;
    border-radius: 15px;
    /* position: relative;
    top: 0;
    right: 0; */
    transition: all ease 1s;
   }
   .aboutImg:hover {
    /* right: -20px;
    top: -20px; */
    border-color: #1C2758;
    color: #000;
   }
   .aboutInfo1L, .aboutInfo1R {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 100%;
   }
   .missionStatement {
    background-color: #0DCAF0;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 1.2rem;
    position: relative;
    top: 0;
    transition: all ease 0.5s;
   }
   .missionStatement:hover {
    background-color: #3ADAFA;
    top: -20px;
   }

   .aboutInfo2 {
    background-color: #1C2758;
    border-radius: 15px;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    width: 62.5%;
   }

   .aboutInfo3 {
    gap: 5rem;
    width: 62.5%;
   }
   




  /**************************************/
  /**************************************/
  /***************FOOTER*****************/
  /**************************************/
  /**************************************/

#footer {
  background-color: #1C2758;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8rem; */
}

.footerContent {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.footerBoxL, .footerBoxR {
  display: flex;
  align-items: flex-start;
}
.footerBoxL {
  flex-direction: column;
  border-right: 1px solid lightgray;
  padding-right: 5rem;
}

.connectFooter, .navigateFooter {
  color: white;
  font-size: 1.5rem;
}
.connectLogo {
  height: 25px;
  width: 25px;
  margin: 0 1rem;
  color: white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.connectLogo:hover {
  top: -10px;
  color: lightgray;
}
.copyrightFooter, .footerBrand a, .footerBoxR p a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.footerBoxR p {
  margin: 0 0 0 2rem;
}
.footerBrand a:hover, .footerBoxR p a:hover {
  color: lightgray;
  text-decoration: underline;
}




