  * {
    margin: 0;
    padding: 0;
  }

  /**************************************/
  /**************************************/
  /****************NAV******************/
  /**************************************/
  /**************************************/
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 992px) {
    /* space out nav dropdown properly on bigger screens until navbar minimizes */
    #basic-nav-dropdown {
      padding-left: 1.2rem;
      padding-right: 2.2rem;
    }
  }

  #basic-nav-dropdown {
    /* to negate above code and match background color */
    background-color: rgb(248, 249, 250);
  }

  .dropdown-item:hover, .navbar-nav .nav-link:hover, #basic-nav-dropdown:hover, .dropdown-item:hover {
    background-color: #1C2758;
    color: white !important;
  }
  .dropdown-item:hover {
    background-color: #1C2758 !important;
  }

  .signInNav:hover{
    /* background-color: #00804A !important; */
    background-color: #157347 !important;
  }
  


  /**************************************/
  /**************************************/
  /****************HOME******************/
  /**************************************/
  /**************************************/



  #home {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    background-image: radial-gradient(circle at center center, rgba(248,249,250,1), rgba(255, 255, 255, 1)), repeating-radial-gradient(circle at center center, rgba(248,249,250,1), rgba(248,249,250,1), 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
    /* background-color: rgba(67, 103, 140, 1);
opacity: 1;
background-image: radial-gradient(circle at center center, rgba(248,249,250,1), rgba(67, 103, 140, 1)), repeating-radial-gradient(circle at center center, rgba(248,249,250,1), rgba(248,249,250,1), 40px, transparent 80px, transparent 40px);
background-blend-mode: multiply; */
}

  .homeSlim {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 5rem;
    width: 62.5%;
  }

  /* Home Intro */
  .homeIntro {
    background-color: #1C2758;
    color: white;
    display: flex;
    align-items: center;
    gap: 10rem;
    height: 50vh;
  }
  /* Intro Left */
  .homeIntro h2 {
    font-size: 2.2rem;
  }
  .homeIntro p, .home2Info p {
    font-size: 1.1rem;
    margin: .5rem 0rem 1.2rem 0rem;
  }
  .homeIntro button {
    width: 50%;
  }
  .homeIntroL {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
  }
  /* Intro Right Pic */
  .lifeBlocks {
    border-bottom-left-radius: 100px;
    height: 100%;
    width: 100%;
  }
  .homeIntroR {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
  }

  /* Home 2 Section */
  .home2 {
    /* background-color: #F8F9FA; */
    background-color: #dddddd;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    /* background-color: #6C757D; */
    /* color: white; */
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 25vh; */
    padding: 2rem 0;
    width: 65%;
  }

  .home2Info {
    text-align: center;
    width: 60%;
  }
  .home2Info h2 {
    font-size: 1.75rem;
  }

  /* Home Cards Section */
  .homeCards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

  .cardImg {
    height: 45px;
    width: 45px;
  }
  .card:hover {
    top: -10px;
  }


    /* Home Intro */
    .homeOutro {
      background-color: #269db2;
      color: white;

      /* gap: 10rem; */
      height: 50vh;
      /* margin-bottom: 5rem; */
      /* width: 100vw; */
      width: 100%;
    }
    .homeOutroContent{
      gap: 10rem;
      height: 100%;
      width: 62.5%;
    }
    /* Outro Right */
    .homeOutroContent h2 {
      font-size: 2.2rem;
    }
    .homeOutroContent p{
      font-size: 1.1rem;
      margin: .5rem 0rem 0rem 0rem;
    }
    .homeOutroR {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 10rem;
    }
    /* Outro Left */
    .relaxImg, .homeOutroL {
      height: 100%;
      width: 110%;
      border-bottom-right-radius: 100px;
    }



  /**************************************/
  /**************************************/
  /**************SIDE NAV****************/
  /**************************************/
  /**************************************/


    #sideNav {
      /* background-color: #269db2; */
      background-color: #111827;
      /* display: flex;
      align-items: center;
      justify-content: center; */
      position: relative;
      width: 12.5vw;
    }

    .sideNavHeader {
      color: white;
      /* color: #1C2758; */
      font-size: .80rem;
    }

    .sideNavHR {
      color: white;
      width: 90%;
    }

    .sideNavContainer {
      margin: auto;
      width: 90%;
    }

    .selectedSideNav {
      color: white !important;
      text-decoration: underline !important;
      background-color: rgba(255, 255, 255, 0.591) !important;
      border-radius: 5px !important;
    }

    .sideNavLink {
      color: white !important;
    }

    .sideNavLink:hover {
      color: white !important;
      text-decoration: underline !important;
      background-color: rgba(255, 255, 255, 0.443) !important;
      border-radius: 5px !important;
    }

    .sideNavContent {
      align-items: start;
      flex-direction: column;
      position: fixed;
      width: 12.5vw;
      /* top: 6.5%; */
      /* top: 40%; */
    }

  /**************************************/
  /**************************************/
  /*********FINANCE MANAGEMENT***********/
  /**************************************/
  /**************************************/  
  #clientPage, #account{
    display: flex;
    flex-direction: row;
  }

    #financeManagement{
      margin: 3.5rem auto;
      width: 65%;
    }

    .FMGuest {
      background-color: red;
      color: white;
      padding: 1rem 2rem;
      text-align: center;
      margin-bottom: 3rem;
    }


    .FMIntro {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      /* width: 100%; */
      /* width: 70%; */
    }
    .FMIntroBox {
      /* border: solid 1px black;
      border-left: solid 3px red;
      border-radius: 15px;
      padding: 1rem; */
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
      border-radius: 15px;
      padding: 1rem 1rem 0;
      /* height: 7rem; */
      width: 23%;
      position: relative;
      top: 0;
      transition: top ease 0.5s;
    }
    .FMIntroBox:hover {
      top: -10px;
    }
    .FMIntroBoxTitle{
      font-size: 1.2rem;
      font-weight: 600;
    }

    .positive {
      color: green;
      font-size: 1rem;
    }
    .negative {
      color: red;
      font-size: 1rem;
    }

    .infoButton {
      font-size: 1.25rem;
      margin-left: .5rem;
      color: black;
      -webkit-transition: color 0.3s;
      -moz-transition:    color 0.3s;
      -ms-transition:     color 0.3s;
      -o-transition:      color 0.3s;
      transition:         color 0.3s;
    }

    .infoButton:hover {
      cursor: pointer;
      color: #008FFB;
    }

    .alertButton {
      font-size: 2rem;
      margin: 0 .5rem;
      color: white;
    }

    .tabIntroInfo, .expenseTab, .incomeTab, .loanTab, .goalTab {
      border: 1px solid #DEE2E6;
      border-top: none;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .tabIntroInfo {
      border-bottom: none;
      justify-content: space-between;
      padding: 1.5rem 3rem 0;
    }
    .expenseTab, .incomeTab, .loanTab {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 3rem 0;
    }
    .loanTab {
      padding-top: 0rem;
    }
    .goalTab{
      flex-direction: column;
    }
    .pieChart, .columnChart {
      width: 50%;
    }
    .expenseTable, .incomeTable{
      width: 30%;
    }
    .loanTable {
      width: 40%;
    }

    .tableTitle {
      display: flex;
      flex-direction: row;
      align-items: end;
    }
    .tableView, .tableEdit, .tableGraph, .tableDelete{
      text-align: center;
      text-decoration: underline;
    }
    .tableView:hover, .tableEdit:hover, .tableGraph:hover, .tableDelete:hover {
      background-color: #0092d6;
      color: white;
      cursor: pointer;
    }
    .tableEdit:hover {
      background-color: #157347;
    }
    .tableGraph:hover {
      background-color: #FFB01A;
    }
    .tableDelete:hover {
      background-color: #D60027;
    }

    .tableSort:hover {
      cursor: pointer;
    }

    .deleteTitle {
      font-weight: 900;
    }

    .deleteInfo {
      font-weight: 500;
    }

    .barChartHeader{
      justify-content: space-between;
    }

    .barChartDropdown:hover{
      background-color: #0B5ED7 !important;
    }

    .react-calendar-heatmap text {
      font-size: 10px;
      fill: #aaa;
    }
    
    .react-calendar-heatmap .react-calendar-heatmap-small-text {
      font-size: 5px;
    }
    
    .react-calendar-heatmap rect:hover {
      stroke: #555;
      stroke-width: 1px;
    }


    .loanGraph {
      text-align: center;
      width: 50%;
    }
    .loanGraphText {
      font-size: 2rem;
    }
    
    
    .react-calendar-heatmap .color-github-0 {
      fill: #eeeeee;
    }
    .react-calendar-heatmap .color-github-1 {
      fill: #a5d46a;
    } 
    .react-calendar-heatmap .color-github-2 {
      fill: #ffa080;
    }
  



  /**************************************/
  /**************************************/
  /***************CONTACT****************/
  /**************************************/
  /**************************************/
  .pageIntro {
    color: white;
    /* font-size: 15rem; */
    /* gap: 10rem; */
    height: 50vh;
    width: 100%;
  }

  .pageIntro h2 {
    font-size: 3rem;
  }

  #contact {
    flex-direction: column;
    /* gap: 2rem; */
  }
  .contactIntro {
    background: linear-gradient(to left, #1C2758, transparent 90%), url('./images/contact.jpg');
    background-size: cover;
  }

  .contactContent {
    flex-direction: row;
    gap: 3rem;
    margin: 5rem auto;
    width: 62.5%;
  }

  .contactInfo {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
    width: 100%;
  }

  .contactForm {
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-right: 5rem;
    padding: 2rem;
    width: 100%;
  }


  /**************************************/
  /**************************************/
  /***************SIGN IN****************/
  /**************************************/
  /**************************************/

  #signIn, #signUp, #signOut, #profile {
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.76);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.76);
    border-radius: 10px;
    padding: 0 2rem;
    margin: 5rem auto;
    width: 20%;
    flex-direction: column;
  }

  #signIn, #signOut, #notFound {
    /* height: 56vh; */
    height: 70vh;
  }

  .guestLoginButton {
    border: none;
    background-color: white;
    color: #0D6EFD;
    text-decoration: underline;
  }
  .guestLoginButton:hover {
    color: #0A58CA;
  }

  #profile {
    width: 60%
  }




  /**************************************/
  /**************************************/
  /****************ABOUT*****************/
  /**************************************/
  /**************************************/
    #about {
      flex-direction: column;
      /* gap: 2rem; */
    }
   .aboutIntro {
    background: linear-gradient(to right, #1C2758, transparent 90%), url('./images/about.jpg');
    background-size: cover;
    }
   .aboutInfo1 {
    flex-direction: row;
    text-align: center;
    width: 62.5%;
    gap: 2rem;
    margin: 3rem 0;
   }
   .aboutImg, .aboutImg2 {
    border: 15px solid #dddddd;
    border-radius: 15px;
    /* position: relative;
    top: 0;
    right: 0; */
    transition: all ease 1s;
   }
   .aboutImg:hover, .aboutImg2:hover {
    /* right: -20px;
    top: -20px; */
    border-color: #1C2758;
    color: #000;
   }
   .aboutImg2 {
    display: none;
   }
   .aboutInfo1L, .aboutInfo1R {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 100%;
   }
   .missionStatement {
    background-color: #0DCAF0;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 1.2rem;
    position: relative;
    top: 0;
    transition: all ease 0.5s;
    flex-direction: row;
   }
   .missionStatement:hover {
    background-color: #3ADAFA;
    top: -20px;
   }

   .aboutInfo2 {
    background-color: #1C2758;
    border-radius: 15px;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    width: 62.5%;
   }

   .aboutInfo3 {
    gap: 5rem;
    width: 62.5%;
   }



  /**************************************/
  /**************************************/
  /*************NOT FOUND****************/
  /**************************************/
  /**************************************/
  #notFound {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 80vh;
  }
   

  /**************************************/
  /**************************************/
  /***************FOOTER*****************/
  /**************************************/
  /**************************************/

#footer {
  background-color: #1C2758;
  /* height: 20vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8rem; */
  width: 100%;
  /* margin-top: auto; */
}

.footerContent {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.footerBoxL, .footerBoxR {
  display: flex;
  align-items: flex-start;
}
.footerBoxL {
  flex-direction: column;
  /* border-right: 1px solid lightgray; */
  padding-right: 5rem;
}

.footerBoxR {
  border-left: 1px solid lightgray;
  height: 100px;
  margin: auto;
  align-items: center;
}

.connectFooter, .navigateFooter {
  color: white;
  font-size: 1.5rem;
}
.connectLogo {
  height: 25px;
  width: 25px;
  margin: 0 1rem;
  color: white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.connectLogo:hover {
  top: -10px;
  color: lightgray;
}
.footerBreak {
  display: none;
}
.copyrightFooter, .footerBrand a, .footerBoxR p a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.footerBoxR p {
  margin: 0 0 0 2rem;
}
.footerBrand a:hover, .footerBoxR p a:hover {
  color: lightgray;
  text-decoration: underline;
}

.footerLinkHome {
  padding-left: 8rem;
}



/* *************************LARGE DEVICE SECTION************************* */
@media only screen and (max-width: 1500px) {
  .homeIntro {
    height: 40vh;
    gap: 5rem;
  }
  #home h2 {
    font-size: 1.8rem;
  }
  .homeIntro p, .home2Info p {
    font-size: 1rem;
  }
  .homeIntroL {
    margin-left: 6rem;
  }
  .homeOutro {
    height: 40vh;
  }
  .homeOutroContent {
    gap: 5rem;
  }
  .homeOutroR {
    margin-right: 5rem;
  }
  .relaxImg, .homeOutroL {
    width: 100%;
  }


}

@media only screen and (max-width: 1300px) {
  .footerContent {
    flex-direction: column-reverse;
    padding: 0 1rem;
    width: 100%;
  }
  .footerBoxL {
    padding-right: 0rem;
  }
  .footerBoxR {
    border-left: none;
  }
  .footerLinkHome {
    padding-left: 0;
  }

  /* CONTACT  */
  .contactContent {
     width: 100%;
  }

  /* ABOUT  */
  .aboutInfo1 {
    padding: 0 3rem;
    width: 100%;
  }
  .aboutInfo2 {
    width: 90%;
  }
  
  .aboutInfo3 {
     flex-direction: column;
   }
  .aboutInfo3Header {
    text-align: center;
  }

  /* SIGN IN/OUT  */
  #signIn, #signOut, #notFound {
    width: 40%;
  }

}

/* *************************MEDIUM DEVICE SECTION************************* */
@media only screen and (max-width: 1024px) {
  /* HOME  */
  .homeIntroL {
    margin-left: 3rem;
  }
  .homeSlim, .homeOutroContent {
    width: 100%;
  }
  .homeOutroL, .relaxImg {
   width: 100%;
  }
  .homeOutroR {
    margin-right: 1rem;
  }


  /* ABOUT */
  .aboutImg {
    height: 40rem;
    width: 100%;
  }


  /* FINANCE MANAGEMENT */
  #sideNav {
    display: none;
  }
  .FMIntro > div {
    flex: 40%;
  }
  .FMIntro {
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .expenseTab, .incomeTab, .loanTab, .goalTab {
    flex-direction: column;
    gap: 2rem;
  } 
  .pieChart, .columnChart, .expenseTable, .incomeTable, .loanTable, .loanGraph {
    width: 90%;
  }

}

/* *************************MOBILE DEVICE SECTION************************* */
@media only screen and (max-width: 800px) {
  /* HOME  */
  .lifeBlocks, .relaxImg, .homeOutroL {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0;
  }

  /* CONTACT  */
  .contactContent {
    flex-direction: column;
    width: 80%;
    /* margin: auto; */
  }
  .contactInfo {
    margin-left: 0;
    padding-left: 2rem;
  }
  .contactForm {
    margin-right: 0rem;
    padding: 2rem;
  }

  /* ABOUT */
  .aboutInfo1 {
    flex-direction: column-reverse;
    margin: 2rem 0 0;
  }
  .aboutInfo1RHeader {
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem;
    gap: 2rem;
  }
  .aboutImg {
    display: none;
  }
  .aboutImg2 { 
    display: block;
    height: 40vh;
    margin: auto;
    width: 40%;
  }

  .missionStatement{
    margin-bottom: 0;
  }

  /* FINANCE MANAGEMENT */
  .tabIntroInfo {
    flex-direction: column;
  }

  /* SIGN IN/OUT  */
   #signIn, #signOut, #notFound {
    width: 60%;
   }
}

@media only screen and (max-width: 650px) {
  /* HOME */
  .homeIntro {
    height: 50vh;
    flex-direction: column;
    gap: 2rem;
    /* padding: 5rem 0; */
  }
  .homeIntroL, .homeOutroR {
    padding: 0rem 2rem;
    margin: 1rem 0 0;
    width: 80%;
    /* height: 100%; */
  }
  .homeIntroR, .homeOutroL {
    height: 80%;
    width: 80%;
  }
  .home2 {
    margin-top: 7rem;
  }
  .homeOutro{
    margin-top: 10rem;
    padding-bottom: 4rem;
  }
  .homeOutroR {
    padding-bottom: 10rem;
  }
  .homeOutroContent {
    flex-direction: column;
  }


  /* FINANCE MANAGEMENT */
  #financeManagement {
    width: 95%;
  }

    /* SIGN IN/OUT  */
    #signIn {
      width: 70%;
     }
}

@media only screen and (max-width: 500px) {
  /* HOME  */
  .homeIntro, .homeOutroContent {
    gap: 1rem;
  }
  .homeIntro {
    height: 50vh;
    flex-direction: column;
    /* padding: 5rem 0; */
  }
  .homeIntroL {
    padding: 2rem;
    margin: 1rem;
    /* height: 100%; */
  }
  .homeOutroR, .homeIntroL {
    width: 100%;
  }
  .homeBreak {
    display: none;
  }

  /* ABOUT */
  .aboutInfo1RHeader {
    flex-direction: column-reverse;
    gap: 0;
  }
  .aboutImg2 {
    height: 50vh;
    width: 100%;
  }

  /* FOOTER */
  .footerBoxL {
    width: 90%;
  }
  .footerBreak {
    display: inline-block;
  }

}

@media only screen and (max-width: 400px) {
  /* HOME  */
  .homeIntro, .homeOutro {
    height: 60vh;
  }
  .homeIntroR, .homeOutroL {
    height: 80%;
    width: 80%;
  }
  .home2 {
    margin-top: 0rem;
  }


  .homeOutro{
    margin-top: 0rem;
    padding-bottom: 0rem;
  }
  .homeOutroR {
    padding-bottom: 4rem;
  }
  .homeOutroContent {
    flex-direction: column;
  }

  /* SIGN IN/OUT  */
  #signIn, #signOut, #notFound {
    width: 70%;
   }
}