  * {
    margin: 0;
    padding: 0;
  }

  /**************************************/
  /**************************************/
  /****************NAV******************/
  /**************************************/
  /**************************************/

  @media screen and (min-width: 992px) {
    /* space out nav dropdown properly on bigger screens until navbar minimizes */
    #basic-nav-dropdown {
      padding-left: 1.2rem;
      padding-right: 2.2rem;
    }
  }

  #basic-nav-dropdown {
    /* to negate above code and match background color */
    background-color: rgb(248, 249, 250);
  }

  .dropdown-item:hover, .navbar-nav .nav-link:hover, #basic-nav-dropdown:hover, .dropdown-item:hover {
    background-color: #1C2758;
    color: white !important;
  }
  .dropdown-item:hover {
    background-color: #1C2758 !important;
  }

  .nav-item:last-of-type {
    /* background-color: #08AA66; */
    background-color: #198754;
  }
  .signInNav:hover{
    /* background-color: #00804A !important; */
    background-color: #157347 !important;
  }
  


  /**************************************/
  /**************************************/
  /****************HOME******************/
  /**************************************/
  /**************************************/



  #home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 62.5%;
    margin: auto;
    gap: 5rem;
  }

  /* Home Intro */
  .homeIntro {
    background-color: #1C2758;
    color: white;
    display: flex;
    align-items: center;
    gap: 10rem;
    height: 50vh;
  }
  /* Intro Left */
  .homeIntro h2 {
    font-size: 2.2rem;
  }
  .homeIntro p, .home2Info p {
    font-size: 1.1rem;
    margin: .5rem 0rem 1.2rem 0rem;
  }
  .homeIntro button {
    width: 50%;
  }
  .homeIntroL {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
  }
  /* Intro Right */
  .lifeBlocks {
    border-bottom-left-radius: 100px;
    height: 100%;
  }
  .homeIntroR {
    height: 100%;
  }

  /* Home 2 Section */
  .home2 {
    /* background-color: #F8F9FA; */
    background-color: #dddddd;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    /* background-color: #6C757D; */
    /* color: white; */
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 65%;
  }

  .home2Info {
    text-align: center;
    width: 60%;
  }
  .home2Info h2 {
    font-size: 1.75rem;
  }

  /* Home Cards Section */
  .homeCards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

  .cardImg {
    height: 45px;
    width: 45px;
  }
  .card:hover {
    top: -10px;
  }


    /* Home Intro */
    .homeOutro {
      background-color: #269db2;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      /* gap: 10rem; */
      height: 50vh;
      /* margin-bottom: 5rem; */
      width: 100vw;
    }
    .homeOutroContent{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10rem;
      height: 100%;
      width: 62%;
    }
    /* Outro Right */
    .homeOutroContent h2 {
      font-size: 2.2rem;
    }
    .homeOutroContent p{
      font-size: 1.1rem;
      margin: .5rem 0rem 0rem 0rem;
    }
    .homeOutroR {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 10rem;
    }
    /* Outro Left */
    .relaxImg, .homeOutroL {
      height: 100%;
      border-bottom-right-radius: 100px;
    }



  /**************************************/
  /**************************************/
  /***************FOOTER*****************/
  /**************************************/
  /**************************************/

#footer {
  background-color: #1C2758;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8rem; */
}

.footerContent {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.footerBoxL, .footerBoxR {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.footerBoxL {
  border-right: 1px solid lightgray;
  padding-right: 5rem;
}
.footerBoxR {
  /* border-left: 1px solid lightgray; */
  /* padding-left: 2rem; */
  flex-direction:row
}
.connectFooter, .navigateFooter {
  color: white;
  font-size: 1.5rem;
}
.connectLogo {
  height: 25px;
  width: 25px;
  margin: 0 1rem;
  color: white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.connectLogo:hover {
  top: -10px;
  color: lightgray;
}
.copyrightFooter, .footerBrand a, .footerBoxR p a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.footerBoxR p {
  margin: 0 0 0 2rem;
}
.footerBrand a:hover, .footerBoxR p a:hover {
  color: lightgray;
  text-decoration: underline;
}




